body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* The image used */
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.20)), url(background.gif); background-size: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#real {
    display: flex;
    background-color: #000000a8;
    color: white;
    padding: 30px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 40px;
}

header h3{
    background-color: #000000b7;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
}

header h3:hover{
    background-color: rgba(132, 0, 255, 0.315);
    transition: 0.5s;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
}



#nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width:82%;
    background-color: rgba(132, 0, 255, 0.322);
    border: 5px solid #41414100;
    border-radius: 100px;
    max-height: 200px;
}

nav a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

nav a:hover {
    transition: 0.5s all;
    background-color: #ffffff98;
    color: rgb(0, 0, 0);
}

.parallax image {
    filter: brightness(0.5);
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content hr{
    width: 40%;
    margin-top: -10px;
    margin-bottom: 50px;
}

.content h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px #ffffff;
}

.grid-container {
    padding-top: 3%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 100%));
    gap: 10px;
    margin-bottom: 100px;
}

.grid-item {
    background-color: #0000008a;
    padding: 20px;
    text-align: center;
    border: 5px solid rgb(51, 51, 51); 
    border-radius: 20px;
}

.grid-item h2 {
    color: white;
    margin-top: 0px;
    font-size: 150%;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border: 5px solid rgba(0, 0, 0, 0.212); 
    border-radius: 20px;
    margin-left: -5px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1259px;
}

.project-item {
    background-color: #0000008a;
    padding: 20px;
    border: 5px solid rgb(51, 51, 51);
    border-radius: 30px;
    color: white;
    text-align: center;
}

.project-item a:hover{
    transition: 0.5s all;
    background-color: rgb(119, 119, 119);
}

.project-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project-item h2 {
    margin-top: 0;
    text-decoration: none;
    color: white;
}

.project-item p {
    margin-top: -8px;
    text-decoration: none;
    color: white;
}

.disabled-project-item {
    background-color: #0000008a;
    padding: 20px;
    border: 5px solid rgb(51, 51, 51);
    border-radius: 30px;
    color: white;
    text-align: center;
    
}

.disabled-project-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.disabled-project-item h2 {
    margin-top: 120px;
}



.news-item {
    padding: 20px;
    margin-top: -100px;
    text-align: center;
    width: 100%;
    
    display: column;
    align-items: center;
    justify-content: center;
}
.news-item h2{
    margin-left: -40px;
}
.news-item img{
    border-radius: 100px;
    padding-top: 20px;
    max-width: 100%;
    margin-left: -30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



@media (max-width: 600px) {
    nav {
        flex-direction: row;
        border-radius: 30px;
        max-height: 200px;
    }
    nav a {
        text-align: left;
        padding: 10px;
        /* border-top: 1px solid #444;
        border-bottom: 1px solid #444; */
    }
    .grid-item h2 {
        color: white;
        margin-top: 0px;
        font-size: 100%;
    }

}